.aboutPage{
    position: absolute;
    top: 50px;
    right: 15%;
    width: 70%;
    height: 80%;
    color:#555588;
    overflow: auto;
    &.closed {
       display: none;
    }
    &.open {
        background: rgba(255, 255, 255, 0.9);
        display: block;
    }
    text-align: center;
    border-radius: 25px;
    z-index: 10000;
    transition: height 0.3s;
    .toggleIcon {
        font-size: 20px;
        line-height: 40px;
        cursor: pointer;
    }
}
// .copyrightFooter{
//     bottom: 5%;
//     left: 35%;
//     position: absolute;
// }
.mobile .aboutPage{
    &.open {
        width: initial;
        height: initial;
        border-radius: 0px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.95);

    }
}