.Flow {
    display: flex;
    height: 100%;
    flex-direction: column;
    >div {
        flex-grow: 1;
    }

    .Question {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
    }

    .Options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .Option {
            font-size: 24px;
            margin: 10px;
            padding: 10px 20px;
            background: lightseagreen;
            cursor: pointer;
            &:hover {
                background: skyblue;
            }
        }

    }

}
