.Landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    font-size: 32px;
    >div {
        display: flex;
        flex-grow: 1;
        align-items: center;
        cursor: pointer;
        height: 100%;
        >div {
            text-align: center;
            flex-grow: 1;
        }

        &:nth-child(1) {
            background: yellow;
        }
        &:nth-child(2) {
            background: skyblue;
        }

        &:hover {
            color: #111;
            text-shadow: 0px 0px 5px #1114;
        }
    }
}