@controllerColour:rgba(85, 85, 136, 0.8);
@contorllerIconColour:black;
// .mobile .mapContainer {
//     height: 94.5%;
// }
.leaflet-control-zoom.leaflet-bar.leaflet-control{
    top: 50px;
}
.mapContainer {
    display: flex;
    height: 100%;
    .leaflet-container {
        height: 100%;
        width: 100%;
    }
    .mapControlCity {
        position: absolute;
        top: 50px;
        right: 50px;
        &.closed {
            width: 50px;
            height: 50px;
            border-top-right-radius: 25px;
        }
        &.open {
            border-top-right-radius: 0px;
            width: 300px;
            right: 100px;
            padding: 10px;
            background: rgba(255, 255, 255, 0.8);
        }
        .toggleIcon {
            font-size: 20px;
            line-height: 50px;
            cursor: pointer;
        }
        color:@contorllerIconColour;
        text-align: center;
        // border-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        // background: rgba(85, 85, 136, 0.6);
        background: @controllerColour;
        z-index: 10000;
        transition: width 0.3s;
    }
    .cityIcon{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50px;
        right: 50px;
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
        color: black;
        text-align: center;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background: rgba(255, 255, 255, 0.8);
        z-index: 10000;
    }
    .mapControl {
        position: absolute;
        top: 110px;
        right: 50px;
        &.closed {
            top: 110px;
            width: 50px;
            height: 50px;
            // border-top-right-radius: 25px;
        }
        &.open {
            top: 50px;
            // border-top-right-radius: 0px;
            width: 300px;
            right: 100px;
            padding: 10px;
            background: rgba(255, 255, 255, 0.8);
        }
        .toggleIcon {
            font-size: 20px;
            line-height: 50px;
            cursor: pointer;
        }
        color: @contorllerIconColour;
        text-align: center;
        border-radius: 25px;
        // border-bottom-left-radius: 25px;
        // border-bottom-right-radius: 25px;
        // border-top-left-radius: 25px;
        //background: rgba(51, 195, 240, 0.8);
        background: @controllerColour;
        z-index: 10000;
        transition: width 0.3s;
    }
    .dateIcon{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 110px;
        right: 50px;
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
        color: black;
        text-align: center;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background: rgba(255, 255, 255, 0.8);
        z-index: 10000;
    }
    .mapControlCategory {
        position: absolute;
        top: 170px;
        right: 50px;
        &.closed {
            top: 170px;
            width: 50px;
            height: 50px;
            // border-top-right-radius: 25px;
        }
        &.open {
            top: 50px;
            // border-top-right-radius: 0px;
            width: 300px;
            right: 100px;
            padding: 10px;
            background: rgba(255, 255, 255, 0.8);
        }
        .toggleIcon {
            font-size: 20px;
            line-height: 50px;
            cursor: pointer;
        }
        color: @contorllerIconColour;
        text-align: center;
        border-radius: 25px;
        // border-bottom-left-radius: 25px;
        // border-bottom-right-radius: 25px;
        // border-top-left-radius: 25px;
        //background: rgba(51, 195, 240, 0.8);
        background: @controllerColour;
        z-index: 10000;
        transition: width 0.3s;
    }
    .categoryIcon{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 170px;
        right: 50px;
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
        color: black;
        text-align: center;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background: rgba(255, 255, 255, 0.8);
        z-index: 10000;
    }
    .mapControlDateTimeSlider {
        position: absolute;
        bottom: 5%;
            // border-top-right-radius: 0px;
        width: 40%;
        height: 70px;
        left: 30%;
        padding: 10px;
        // background: rgba(255, 255, 255, 0.8);
        color: black;
        text-align: center;
        border-radius: 25px;
        // border-bottom-left-radius: 25px;
        // border-bottom-right-radius: 25px;
        // border-top-left-radius: 25px;
        // border-top-right-radius: 25px;
        // background: rgba(51, 195, 240, 0.8);
        z-index: 10000;
        transition: height 0.3s;
    }
}

.mobile .mapContainer .mapControlDateTimeSlider{
    height:50%;
    left: 0%;
    width: 5%;
    position: absolute;
        padding: 10px;
        color: black;
        text-align: center;
        border-radius: 25px;
        z-index: 10000;
        transition: height 0.3s;
}

.mobile .mapContainer .mapControlCity  {
    &.closed {
        width: 50px;
        height: 50px;
        top: 40px;
        right: 10px;
    }
    &.open {
        width: initial;
        border-radius: 0px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.9);
    }
}

.mobile .mapContainer .mapControl  {
    &.closed {
        width: 50px;
        height: 50px;
        top: 100px;
        right: 10px;
    }
    &.open {
        width: initial;
        border-radius: 0px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.9);
    }
}
.mobile .mapContainer .mapControlCategory  {
    
    &.closed {
        width: 50px;
        height: 50px;
        top: 160px;
        right: 10px;
    }
    &.open {
        width: initial;
        border-radius: 0px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.9);
    }
}
.mobile .leaflet-popup-content-wrapper{
    box-shadow: none;
    // color:white;
    text-align: center;
    width: 250px;
}