.leaflet-popup-content-wrapper{
    box-shadow: none;
    text-align: center;
    width: 320px;
    opacity: 0.93;
}
.leaflet-popup-content{
    max-height: 400px;
    overflow: auto;
}
.leaflet-container a {
    // color: black;
}
.leaflet-popup-content::-webkit-scrollbar {
    width: 5px;
}

.leaflet-popup-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    // border-radius: 10px;
}

.leaflet-popup-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
// .pUp{
//     &.Sport{
//         .leaflet-popup-content-wrapper, .leaflet-popup-tip {
//             box-shadow: none;
//             // color:white
//             background: #f08143; 
//         }
//     }
//     &.City{
//         .leaflet-popup-content-wrapper, .leaflet-popup-tip {
//             box-shadow: none;
//             // color:white
//             background: #68558f; 
//         }
//     }
//     &.Club{
//         .leaflet-popup-content-wrapper, .leaflet-popup-tip {
//             box-shadow: none;
//             // color:white
//             background: #727271; 
//         }
//     }
//     &.Culture{
//         .leaflet-popup-content-wrapper, .leaflet-popup-tip {
//             box-shadow: none;
//             // color:white
//             background: #a79ecd; 
//         }
//     }
//     &.Bar{
//         .leaflet-popup-content-wrapper, .leaflet-popup-tip {
//             box-shadow: none;
//             // color:white
//             background: #a76281; 
//         }
//     }
//     &.Education{
//         .leaflet-popup-content-wrapper, .leaflet-popup-tip {
//             box-shadow: none;
//             // color:white
//             background: #d7b56d; 
//         }
//     }
//     &.Music{
//         .leaflet-popup-content-wrapper, .leaflet-popup-tip {
//             box-shadow: none;
//             // color:white
//             background: #56698f; 
//         }
//     }
// }