/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(85, 85, 136);
    overflow: hidden;
    height: 42px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 10000;
    width: 100%;
    
}
.navMenuLogo{
    align-self: center;
    display: flex;
    // justify-content: space-between;
}
.todoLogo{
    align-self: center;
    width: 35px;
    height: 38px;
}
.mobile .topnav {
    overflow: hidden;
    height: 35px;
    // justify-content: space-around;
    // font-size:7px;
}
.mobile .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    // padding: 14px 16px;
    text-decoration: none;
    font-size: 7px;
}
.mobile .todoLogo{
    width: 32px;
    height: 35px;
}
// .mobile .topnavbarLinks{
//     font-size: 7px;
// }

.topnavbarLinks{
    // align-self: center;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    // font-size: 10px !important;
    // border-radius: 50%;
    // padding: 7px 9px;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    // font-size: 10px !important;
    // border-radius: 50%;
    // padding: 7px 9px;
  }
  
  .fa-instagram {
    background: #dc0019;
    color: white;
    // font-size: 10px !important;
    // border-radius: 50%;
    // padding: 7px 9px;
  }

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #7c7ba5;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}