.controller {
    text-align: center;
    .title {
        text-transform: uppercase;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    button,
    .button {
        letter-spacing: 0rem;
        position: relative;
        &.disabled {
            cursor: initial;
            color: #aaa;
        }
    }
    .vertical {
        button {
            text-align: center;
            width: 100%;
            display: block;
            align-content: space-between;
            margin: 0;
            &:not(:first-child) {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-top: none;
            }
            &:not(:last-child) {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }
    }
    .horizontal {
        width: 100%;
        display: flex;
        button {
            display: block;
            margin: 0;
            flex-grow: 1;
            &:not(:first-child) {
                border-bottom-left-radius: 0px;
                border-top-left-radius: 0px;
                border-left: none;
            }
            &:not(:last-child) {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }
    }
}